.errorTip{
    -fx-background-color: red;
    -fx-text-fill: white;
}


.errorField{
    -fx-control-inner-background: rgb(255, 211, 205);
    -fx-focus-color: red;
    -fx-faint-focus-color: #ff000022;
}

.form{
    -fx-background-image: url("../images/background_forms.jpg");
    -fx-background-color:red;
}